@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body{
    font-family: "Work Sans", sans-serif;
}

header{
    width: 100%;
    height: 150px;
    /* min-width: 725px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav{
    width: 65%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;

}

li{
    padding: 15px;
}

a{
    font-size: 1em;
    text-decoration: none;
    display: block;

}

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

h1{
    font-size: 2.5em;
}

h1,h4{
    font-family: "Playfair Display", serif;
    text-align: center;
}

form{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
}


input{
    width: 100%;
    height: 30px;
    padding: 12px;
    background-color: transparent;
    border:none ;

}

label{
    display: inline;
}

select{
    padding: 10px;
    border: 1px solid rgb(182, 178, 178);
    border-radius: 5px;
    background-color: transparent;
}

select, input{
    outline: 0;
}

img{
    height: auto;
}

button{
    padding: 10px;
    border: none;
    border-radius: 2px;
    background-color: pink;
}


footer{
    padding: 20px;
    width: 100%;
}

div.logo-empresa{
    width: 250px;
    height: 100%;
    background-image: url(../../img/logo-empresa.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

div.menu-btn-container{
    display: none;
    width: auto;
}


div.container-formulario{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    gap: 200px;
}


div.imagem-formulario{
    
    height: 100%;
    margin-top: 30px;
    justify-self: flex-start;
}

div.container-aux{
    display: flex;
    flex-direction: column;
    gap: 20px;
}


p.msg-error{
    color: red;
    font-size: 0.8em;
    display: none;
}

div.container-inputs{
    width: 100%;
    display: flex;
    align-items: center;
    height: 30px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid rgb(182, 178, 178);
}

div.input-tel{
    width: 80%;
}

div.container-footer{
    display: flex;
    justify-content: center;
}

div.container-footer  a{
    margin: auto;
    width: 40%;
}

div.container-links-footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

div.link-contatos, div.link-redes-sociais{
    width: 30%;    
}

div.container-endereco-footer{
    width: 40%;
}

li#btn-fechar{
    display: none;
}

div#preco-procedimento{
    width: 45%;
}

#preco-procedimento-input{
    width: 100% !important;
    text-align: center;
}



